/***CSS COLORS
#000000 -Black
#FFFFFF-White
#808080 Gray
#2b2b2b -really dark gray
#474747 -dark gray
#D0D0D0 – light gray 
#636363 - dark gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
*****************************/

/******
Tested: March 18, 2023 Passed Chrome, and FireFox. 

/

  /******************MAIN NAVIGATION************************/

  nav {
    background: #FFFFFF;
    padding: 0 15px;
    box-shadow: 0 0 10px gray;
    margin-bottom: 1em;
}
nav a {
    color: #2b2b2b;
    text-decoration: none;
    padding: 5px;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
 width: 100%;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}

item:not(.button) a:hover,
.item a:hover::after {
    color: black;   /* Changed white to black */
}


.item:not(.button) a:hover,

.item a:hover::after {

    background: black;
    color: #FFFFFF;

}


/* ********************Mobile menu****************************** */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    order: 1;
    font-size: 20px;
    color: black;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: black;  /* changed white to black */
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: white;
    border-radius: 3px;
}


/* Tablet menu */
@media all and (min-width: 640px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: white;
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
  
    
}