/* ColorsWebsite Colors: 
#000000 -Black
#FFFFFF-White
#808080 Gray
#666666 - Darker gray 
#D0D0D0 – light gray 
#66b2b2 - Brighter teal 
#008080 -teal
#006666 -Darker teal
#004c4c -Darkest shade of teal
 
#F1F1F1 - Beige 
#F2F2F2 - Darker beige
Font-family will be: Garmond, Raleway, Sans-serif.
OR font-family:'Ibarra Real Nova', serif;


Tested: March 18, 2023 Passed Chrome & FireFox

/****************************************GLOBAL********************************************/

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lora&family=Playfair+Display&family=Raleway:ital,wght@0,100;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4d5d5;
  color: #000000;
  font-family: 'Lora', sans-serif;
}


/******************Top-bar************************/

.top-bar {
  background-image: url('background_texture1.png');
  background-repeat: repeat;
  color: white;
  text-align: center;
  padding: 2em;
  top: 0;
}

.top-bar p, h3 {
  display: none;
  color: black;

}




/**************************************HOME PAGE***************************/
.home_main {

  margin: 0 auto;
  padding: 0 2em;
}
#home-header {
  text-align: center;
  padding: 1em;
}

#home-header {
font-size: 140%;
}

.greetings {
  font-size: 1em; 
}
.greetings {
  padding-bottom: 1em;
}

/**************************************ABOUT PAGE****************************/
.about-main {
  margin: 0 auto;

 
}

.about_header {
 text-align: center;
 color: #004c4c;
 padding: 10px;
}

.about_header {
  font-size: 120%;
 }


.about_img {
float: right;
 width: 30%;
 height: auto;
 max-width: 400px;
 min-width: 200px;
 padding-top: 5%;
margin-top: 2rem;
margin-bottom: 1em;
  }

  .about_para {
    float: left;
    width: 70%;
    height: auto;
    margin: 0 2em;
  }

  .about_para h1 {
    font-size: 150%;
   }

.about_button {
  float: left;
}
.resume_button {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  border: 2px outset black;
  font-weight:bold;
}




/**************************************MAIN Projects/Competencies page****************************/


/**************************************Competency #1****************************/


/**************************************Competency #2****************************/


/**************************************Competency #3****************************/

/**************************************Reflection Page****************************/
.reflection_main {
  margin: 0 auto;
  padding: 0 10%;

}

#header1 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  }

  #header1 h1 {
    font-size: 130%;
  }

  h4 {
    font-size: 100%;
  }

  .para1::first-letter  {
  font-size: 175%;
  color: #004c4c;
}

.indent {
  text-indent: 2.5%;
}

/**************************************CONTACT****************************/



/**************************************FOOTER****************************/
footer {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
  bottom: 0;
}
footer {
  width: 100%;
  height: 50px;
 bottom: 0;
 margin-top: 25%;
 clear: both;
 
}

/* Enlarge footer icons on hover */
footer :hover {
  transform: scale(1.2);
}

/**************************************Media Queries****************************/

@media only screen and (min-width: 250px) {
#header1 {
  font-size: 1em;
}

.about-main {
  margin: 0;
  padding: 0;
}

.about_header {
  text-align:center;
  width: 100%;
 }
 
 .about_img {
   width: 100%;
   margin: auto;
   margin-bottom: 5%;
 }

video {
   width: 100%;
 }

 .about_para {
   margin: 0 auto;
   width: 100%;
   padding: 5px;

 }



 .about_button {
   margin: 0 auto;
   text-align: center;
   font-weight: 400;
   margin-bottom: 20%;
 }
}



/****** Home page/Reflection media query*****/

@media only screen and (min-width: 450px) {
  

  .top-bar p, h3 {
    display: none;
  
  }

  .about_para h1 {
    font-size: 175%;
   }

 

   #header1 h1 {
    font-size: 175%;
  }

  h4 {
    font-size: 110%;
  }
  
}

@media only screen and (min-width: 800px ) {
  .about_para h1 {
    font-size: 200%;
   }

   .about_header {
    font-size: 160%;
   }
  

   #header1 h1 {
    font-size: 200%;
  }

  h4 {
    font-size: 130%;
  }
  #home-header {
    font-size: 160%;
    }
    .greetings {
      font-size: 175%; 
    }
  
    .top-bar p, h3 { 
      display: block;
    }
}

/*** Adding Hover Effect on Footer ***/
/* Enlarge footer icons on hover */
footer i:hover {
  transform: scale(1.2);
}

@media print {
  /* Set font size for all elements */
  
  {
  font-size: 16px;
  }
  /* Set font color to black for all elements */
  body, h1, p, ul, ol, li, blockquote, footer {
  color: black;
  }
  
  /* Set font family to serif */
  body, h1, p, ul, ol, li, blockquote, footer {
  font-family: Garmond, Raleway, sans-serif;
  }
  
  /* Set margins and padding to 1 inch on all sides */
  body {
  margin: 1in;
  padding: 0;
  }
  
  /* Remove YouTube video player */
  #youtube-video-player {
  display: none;
  }
  
  /* Reduce font size for h1 */
  h1 {
  font-size: 24px;
  }
  
  /* Reduce font size and line-height for p */
  p {
  font-size: 16px;
  line-height: 1.2;
  }
  
  /* Reduce font size for ul and ol */
  ul, ol {
  font-size: 16px;
  }
  
  /* Reduce font size and margin for li */
  li {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  /* Reduce font size and margin for blockquote */
  blockquote {
  font-size: 16px;
  margin: 10px 0;
  }
  
  /* Reduce font size and margin for footer */
  footer {
  font-size: 16px;
  margin-top: 20px;
  }
  
  /* Set height for footer */
  footer {
  height: 40px;
  }
  
  /* Remove logo from footer */
  footer img {
  display: none;
  }
  }